<section id="gallery" class="gallery">
  <div class="container gallery-container">
    <h2 class="gallery-title">Breathe in the Space</h2>
    <p class="galerry-paragraph">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
    <ul class="gallery-list">
      <li>
        <picture class="gallery-picture">
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/gallery-img/yoga-girl-desktop.jpg   1x,
              /img/gallery-img/yoga-girl-desktop2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery-img/yoga-girl-tab.jpg   1x,
              /img/gallery-img/yoga-girl-tab2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery-img/yoga-girl-mob.jpg   1x,
              /img/gallery-img/yoga-girl-mob2x.jpg 2x
            "
          />
          <img
            src="/img/gallery-img/yoga-girl-mob.jpg"
            width="155"
            height="155"
            class="gallery-img"
            alt="girl doing yoga"
          />
        </picture>
      </li>
      <li>
        <picture class="gallery-picture">
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/gallery-img/yoga-girl2-desktop.jpg   1x,
              /img/gallery-img/yoga-girl2-desktop2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery-img/yoga-girl2-tab.jpg   1x,
              /img/gallery-img/yoga-girl2-tab2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery-img/yoga-girl2-mob.jpg   1x,
              /img/gallery-img/yoga-girl2-mob2x.jpg 2x
            "
          />
          <img
            src="/img/gallery-img/yoga-girl2-mob.jpg"
            width="155"
            height="155"
            class="gallery-img"
            alt="girl doing yoga"
          />
        </picture>
      </li>
      <li>
        <picture class="gallery-picture">
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/gallery-img/yoga-place-desktop.jpg   1x,
              /img/gallery-img/yoga-place-desktop2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery-img/yoga-place-tab.jpg   1x,
              /img/gallery-img/yoga-place-tab2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery-img/yoga-place-mob.jpg   1x,
              /img/gallery-img/yoga-place-mob2x.jpg 2x
            "
          />
          <img
            src="/img/gallery-img/yoga-place-mob.jpg"
            width="155"
            height="155"
            class="gallery-img"
            alt="yoga place"
          />
        </picture>
      </li>
      <li>
        <picture class="gallery-picture">
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/gallery-img/yoga-place2-desktop.jpg   1x,
              /img/gallery-img/yoga-place2-desktop2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery-img/yoga-place2-tab.jpg   1x,
              /img/gallery-img/yoga-place2-tab2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery-img/yoga-place2-mob.jpg   1x,
              /img/gallery-img/yoga-place2-mob2x.jpg 2x
            "
          />
          <img
            src="/img/gallery-img/yoga-place2-mob.jpg"
            width="155"
            height="155"
            class="gallery-img"
            alt="yoga place"
          />
        </picture>
      </li>
      <li>
        <picture class="gallery-picture">
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/gallery-img/yoga-girl3-desktop.jpg   1x,
              /img/gallery-img/yoga-girl3-desktop2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery-img/yoga-girl3-tab.jpg   1x,
              /img/gallery-img/yoga-girl3-tab2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery-img/yoga-girl3-mob.jpg   1x,
              /img/gallery-img/yoga-girl3-mob2x.jpg 2x
            "
          />
          <img
            src="/img/gallery-img/yoga-girl3-mob.jpg"
            width="155"
            height="155"
            class="gallery-img"
            alt="girl doing yoga"
          />
        </picture>
      </li>
      <li>
        <picture class="gallery-picture">
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/gallery-img/yoga-girl4-desktop.jpg   1x,
              /img/gallery-img/yoga-girl4-desktop2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery-img/yoga-girl4-tab.jpg   1x,
              /img/gallery-img/yoga-girl4-tab2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/gallery-img/yoga-girl4-mob.jpg   1x,
              /img/gallery-img/yoga-girl4-mob2x.jpg 2x
            "
          />
          <img
            src="/img/gallery-img/yoga-girl4-mob.jpg"
            width="155"
            height="155"
            class="gallery-img"
            alt="girl doing yoga"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
