<section class="hero">
  <div class="container">
    <picture class="hero-image">
      <source
        srcset="
          /img/hero-img/hero-desktop.jpg   1x,
          /img/hero-img/hero-desktop2x.jpg 2x
        "
        media="(min-width: 1336px)"
      />
      <source
        srcset="/img/hero-img/hero-tab.jpg 1x, /img/hero-img/hero-tab2x.jpg 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="/img/hero-img/hero-mob.jpg 1x, /img/hero-img/hero-mob2x.jpg 2x"
        media="(max-width: 767px)"
      />
      <img src="/img/hero-mob.jpg" alt="girl doing yoga" />
    </picture>
    <div class="hero-container">
      <div class="hero-title-box">
        <h1 class="hero-title">
          Transform Your Life with Our Yoga
          <span class="title-part-one">Courses</span
          ><span class="title-part-two">Clases</span>
        </h1>
      </div>
      <div class="hero-wrap">
        <p class="hero-paragraph">
          Discover the harmony of mind and body through our expertly designed
          yoga programs. Join a community dedicated to wellness and personal
          growth.
        </p>

        <ul class="hero-list">
          <li>
            <a href="#pricing" class="join-btn"
              >Join <span class="join-btn-part">Now</span></a
            >
          </li>
          <li>
            <a href="#gallery" class="learn-btn">Learn More</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
