<!-- Модалка 1 -->
<div class="overlaymodal modal-1">
  <div class="backdrop"></div>
  <div class="modal-price-window">
    <div class="close-price-btn" role="button" tabindex="0">&times;</div>
    <h2 class="modal-price-title">Join Now!</h2>
    <p class="modal-price-subtitle">One Session</p>
    <p class="modal-price-price">$10</p>
    <form class="modal-price-form">
      <label class="form-price-label" for="name1">Your Name</label>
      <input type="text" id="name1" class="input-price" placeholder="Liam" />
      <div class="input-price-row">
        <div class="input-price-column emaildiv">
          <label class="form-price-label" for="email1">Email</label>
          <input
            type="email"
            id="email1"
            class="input-price"
            placeholder="hello@yogabloom.com"
          />
        </div>
        <div class="input-price-column">
          <label class="form-price-label" for="phone1">Phone</label>
          <input
            type="tel"
            id="phone1"
            class="input-price"
            placeholder="+380 95 123 12 12"
          />
        </div>
      </div>
      <button type="submit" class="submit-price-button">Go to checkout</button>
    </form>
  </div>
</div>

<!-- Модалка 2 -->
<div class="overlaymodal modal-2">
  <div class="backdrop"></div>
  <div class="modal-price-window">
    <div class="close-price-btn" role="button" tabindex="0">&times;</div>
    <h2 class="modal-price-title">Join Now!</h2>
    <p class="modal-price-subtitle">8 Sessions Package</p>
    <p class="modal-price-price">$65</p>
    <form class="modal-price-form">
      <label class="form-price-label" for="name1">Your Name</label>
      <input type="text" id="name1" class="input-price" placeholder="Liam" />
      <div class="input-price-row">
        <div class="input-price-column emaildiv">
          <label class="form-price-label" for="email1">Email</label>
          <input
            type="email"
            id="email1"
            class="input-price"
            placeholder="hello@yogabloom.com"
          />
        </div>
        <div class="input-price-column">
          <label class="form-price-label" for="phone1">Phone</label>
          <input
            type="tel"
            id="phone1"
            class="input-price"
            placeholder="+380 95 123 12 12"
          />
        </div>
      </div>
      <button type="submit" class="submit-price-button">Go to checkout</button>
    </form>
  </div>
</div>

<!-- Модалка 3 -->
<div class="overlaymodal modal-3">
  <div class="backdrop"></div>
  <div class="modal-price-window">
    <div class="close-price-btn" role="button" tabindex="0">&times;</div>
    <h2 class="modal-price-title">Join Now!</h2>
    <p class="modal-price-subtitle">12 Sessions Package</p>
    <p class="modal-price-price">$80</p>
    <form class="modal-price-form">
      <label class="form-price-label" for="name1">Your Name</label>
      <input type="text" id="name1" class="input-price" placeholder="Liam" />
      <div class="input-price-row">
        <div class="input-price-column emaildiv">
          <label class="form-price-label" for="email1">Email</label>
          <input
            type="email"
            id="email1"
            class="input-price"
            placeholder="hello@yogabloom.com"
          />
        </div>
        <div class="input-price-column">
          <label class="form-price-label" for="phone1">Phone</label>
          <input
            type="tel"
            id="phone1"
            class="input-price"
            placeholder="+380 95 123 12 12"
          />
        </div>
      </div>
      <button type="submit" class="submit-price-button">Go to checkout</button>
    </form>
  </div>
</div>
