<section id="pricing">
  <div class="container"></div>
</section>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <!-- Price-section -->
<section class="price-stn">
    <div class="container">
        <div class="pricing-plans">
            <h3 class="aff">Affordable</h3>
            <h1 class="pricing">Pricing Plans</h1>
            <p class="choose">Choose the perfect plan for your yoga journey.</p>
        </div>
        <div class="join">
           <div class="session">
            <ul>
                <li>
                <svg class="svg-logo" width="24" height="24">
                    <use href="./images/symbol-defs.svg#icon-Vector"></use>  
                </svg>
                <h3 class="one-session">One Session</h3>
                <div class="price-container">
                <h2 class="price">$10</h2>
                </div>
                </li>

                <ul class="group-list">
                <li>
                    <img src="arrow.svg">
                    <p>1 group session</p>
                </li>
                <li>
                    <img src="arrow.svg">
                    <p>10% discount for next 2 Sessions</p>
                </li>
                <li>
                    <img src="arrow.svg">
                    <p>Community support group</p>
                </li>
                </ul>
            </ul>
            <button type="button" class="btn" width="422"><span class="btn-join">Join</span></button>
            </div>
            <div class="session">
            <ul>
                <li>
                <svg class="svg-logo" width="24" height="24">
                    <use href="./images/symbol-defs.svg#icon-Vector"></use>  
                </svg>
                <h3 class="one-session">One Session</h3>
                <div class="price-container">
                <h2 class="price">$65</h2>
                </div>
                </li>

                <ul class="group-list">
                <li>
                    <img src="arrow.svg">
                    <p>6 Group Sessions</p>
                </li>
                <li>
                    <img src="arrow.svg">
                    <p>2 Individual Sessions</p>
                </li>
                <li>
                    <img src="arrow.svg">
                    <p>Priority customer support</p>
                </li>
                </ul>
            </ul>
            <button type="button" class="btn" width="422"><span class="btn-join">Join</span></button>
            </div>
            <div class="session">
            <ul>
                <li>
                <svg class="svg-logo" width="24" height="24">
                    <use href="./images/symbol-defs.svg#icon-Vector"></use>  
                </svg>
                <h3 class="one-session">One Session</h3>
                <div class="price-container">
                <h2 class="price">$80</h2>
                </div>
                </li>

                <ul class="group-list">
                <li>
                    <img src="arrow.svg">
                    <p>8 Group Sessions</p>
                </li>
                <li>
                    <img src="arrow.svg">
                    <p>4 Individual Sessions</p>
                </li>
                <li>
                    <img src="arrow.svg">
                    <p>Monthly yoga challenges</p>
                </li>
                 <li>
                    <img src="arrow.svg">
                    <p>Exclusive member discounts</p>
                </li>
                 <li>
                    <img src="arrow.svg">
                    <p>Community support group</p>
                </li>
                </ul>
            </ul>
            <button type="button" class="btn" width="422"><span class="btn-join">Join</span></button>
            </div>
        
            
    </div>
</section>

</body>
</html>
