<section class="price-stn" id="pricing">
  <div class="container">
    <div class="pricing-plans">
      <p class="aff">Affordable</p>
      <h2 class="pricing-h2">Pricing Plans</h2>
      <p class="choose">Choose the perfect plan for your yoga journey.</p>
    </div>
    <div class="pricingjoin">
      <ul class="pricing-list">
        <li class="pricing-list-item">
          <h3 class="pricing-h3">One Session</h3>
          <p>$10</p>
          <ul>
            <li>
              <span class="pricing-span">
                <svg class="vector-icon" width="17" height="12">
                  <use href="/img/sprite.svg#icon-vector"></use>
                </svg>
              </span>
              <p>1 group session</p>
            </li>
            <li>
              <span class="pricing-span">
                <svg class="vector-icon" width="17" height="12">
                  <use href="/img/sprite.svg#icon-vector"></use>
                </svg>
              </span>
              <p class="pricing-item-p">10% discount for next 2 Sessions</p>
            </li>
            <li>
              <span class="pricing-span">
                <svg class="vector-icon" width="17" height="12">
                  <use href="/img/sprite.svg#icon-vector"></use>
                </svg>
              </span>
              <p class="pricing-item-p">Community support group</p>
            </li>
          </ul>
          <button></button>
        </li>
        <li class="pricing-list-item">
          <h3 class="pricing-h3">8 Sessions Package</h3>
          <p>$65</p>
          <ul>
            <li>
              <span class="pricing-span">
                <svg class="vector-icon" width="17" height="12">
                  <use href="/img/sprite.svg#icon-vector"></use>
                </svg>
              </span>
              <p class="pricing-item-p">6 Group Sessions</p>
            </li>
            <li>
              <span class="pricing-span">
                <svg class="vector-icon" width="17" height="12">
                  <use href="/img/sprite.svg#icon-vector"></use>
                </svg>
              </span>
              <p class="pricing-item-p">2 Individual Sessions</p>
            </li>
            <li>
              <span class="pricing-span">
                <svg class="vector-icon" width="17" height="12">
                  <use href="/img/sprite.svg#icon-vector"></use>
                </svg>
              </span>
              <p class="pricing-item-p">Priority customer support</p>
            </li>
          </ul>
          <button></button>
        </li>
        <li class="pricing-list-item">
          <h3 class="pricing-h3">12 Sessions Package</h3>
          <p>$80</p>
          <ul>
            <li>
              <span class="pricing-span">
                <svg class="vector-icon" width="17" height="12">
                  <use href="/img/sprite.svg#icon-vector"></use>
                </svg>
              </span>
              <p class="pricing-item-p">8 Group Sessions</p>
            </li>
            <li>
              <span class="pricing-span">
                <svg class="vector-icon" width="17" height="12">
                  <use href="/img/sprite.svg#icon-vector"></use>
                </svg>
              </span>
              <p class="pricing-item-p">4 Individual Sessions</p>
            </li>
            <li>
              <span class="pricing-span">
                <svg class="vector-icon" width="17" height="12">
                  <use href="/img/sprite.svg#icon-vector"></use>
                </svg>
              </span>
              <p class="pricing-item-p">Access to advanced classes</p>
            </li>
            <li>
              <span class="pricing-span">
                <svg class="vector-icon" width="17" height="12">
                  <use href="/img/sprite.svg#icon-vector"></use>
                </svg>
              </span>
              <p class="pricing-item-p">Monthly yoga challenges</p>
            </li>
            <li>
              <span class="pricing-span">
                <svg class="vector-icon" width="17" height="12">
                  <use href="/img/sprite.svg#icon-vector"></use>
                </svg>
              </span>
              <p class="pricing-item-p">Exclusive member discounts</p>
            </li>
            <li>
              <span class="pricing-span">
                <svg class="vector-icon" width="17" height="12">
                  <use href="/img/sprite.svg#icon-vector"></use>
                </svg>
              </span>
              <p class="pricing-item-p">Community support group</p>
            </li>
          </ul>
          <button></button>
        </li>
      </ul>
    </div>
  </div>
</section>
