<section class="team" id="team">
  <div class="container team-container">
    <h2 class="team-title">
      <span class="team-title-part">Meet</span>
      Our Team
    </h2>
    <p class="team-subtitle">
      Dedicated professionals passionate about yoga and wellness.
    </p>
    <ul class="team-cards">
      <li class="team-card">
        <picture class="team-card-picture">
          <source
            media="(min-width: 1336px)"
            srcset="
              ./img/team/team-liam-johnson-lg.webp    1x,
              ./img/team/team-liam-johnson-lg@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/team/team-liam-johnson-md.webp    1x,
              ./img/team/team-liam-johnson-md@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/team/team-liam-johnson-sm.webp    1x,
              ./img/team/team-liam-johnson-sm@2x.webp 2x
            "
          />
          <img
            class="team-card-img"
            src="./img/team/team-liam-johnson-sm.webp"
            alt="Liam Johnson"
            width="343"
            height="221"
          />
        </picture>
        <div class="team-card-text-wrap">
          <h3 class="team-card-title">Liam Johnson</h3>
          <p class="team-card-subtitle">Meditation Coach</p>
          <p class="team-card-desc">
            Liam specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <ul class="team-card-socials-list">
            <li class="team-card-socials-item">
              <a
                class="team-card-socials-link"
                target="_blank"
                href="https://ua.linkedin.com/school/goit-start-your-career-in-it/?trk=public_post_feed-actor-name"
              >
                <svg class="team-card-socials-icon" width="19" height="19">
                  <use href="./img/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
            <li class="team-card-socials-item">
              <a
                class="team-card-socials-link"
                target="_blank"
                href="https://www.instagram.com/goit.ua/"
              >
                <svg class="team-card-socials-icon" width="19" height="19">
                  <use href="./img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <picture class="team-card-picture">
          <source
            media="(min-width: 1336px)"
            srcset="
              ./img/team/team-emma-stone-lg.webp    1x,
              ./img/team/team-emma-stone-lg@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/team/team-emma-stone-md.webp    1x,
              ./img/team/team-emma-stone-md@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/team/team-emma-stone-sm.webp    1x,
              ./img/team/team-emma-stone-sm@2x.webp 2x
            "
          />
          <img
            class="team-card-img"
            src="./img/team/team-emma-stone-sm.webp"
            alt="Emma Stone"
            width="343"
            height="221"
          />
        </picture>
        <div class="team-card-text-wrap">
          <h3 class="team-card-title">Emma Stone</h3>
          <p class="team-card-subtitle">Yoga Instructor</p>
          <p class="team-card-desc">
            Emma has over 10 years of experience in Hatha and Vinyasa yoga.
          </p>
          <ul class="team-card-socials-list">
            <li class="team-card-socials-item">
              <a
                class="team-card-socials-link"
                target="_blank"
                href="https://ua.linkedin.com/school/goit-start-your-career-in-it/?trk=public_post_feed-actor-name"
              >
                <svg class="team-card-socials-icon" width="19" height="19">
                  <use href="./img/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <picture class="team-card-picture">
          <source
            media="(min-width: 1336px)"
            srcset="
              ./img/team/team-sophia-lee-lg.webp    1x,
              ./img/team/team-sophia-lee-lg@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/team/team-sophia-lee-md.webp    1x,
              ./img/team/team-sophia-lee-md@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/team/team-sophia-lee-sm.webp    1x,
              ./img/team/team-sophia-lee-sm@2x.webp 2x
            "
          />
          <img
            class="team-card-img"
            src="./img/team/team-sophia-lee-sm.webp"
            alt="Sophia Lee"
            width="343"
            height="221"
          />
        </picture>
        <div class="team-card-text-wrap">
          <h3 class="team-card-title">Sophia Lee</h3>
          <p class="team-card-subtitle">Pilates Trainer</p>
          <p class="team-card-desc">
            Sophia combines Pilates with yoga for a holistic fitness approach.
          </p>
          <ul class="team-card-socials-list">
            <li class="team-card-socials-item">
              <a
                class="team-card-socials-link"
                target="_blank"
                href="https://www.instagram.com/goit.ua/"
              >
                <svg class="team-card-socials-icon" width="19" height="19">
                  <use href="./img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <picture class="team-card-picture">
          <source
            media="(min-width: 1336px)"
            srcset="
              ./img/team/team-noah-brown-lg.webp    1x,
              ./img/team/team-noah-brown-lg@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/team/team-noah-brown-md.webp    1x,
              ./img/team/team-noah-brown-md@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/team/team-noah-brown-sm.webp    1x,
              ./img/team/team-noah-brown-sm@2x.webp 2x
            "
          />
          <img
            class="team-card-img"
            src="./img/team/team-noah-brown-sm.webp"
            alt="Noah Brown"
            width="343"
            height="221"
          />
        </picture>
        <div class="team-card-text-wrap">
          <h3 class="team-card-title">Noah Brown</h3>
          <p class="team-card-subtitle">Yoga Therapist</p>
          <p class="team-card-desc">
            Noah focuses on therapeutic yoga to aid recovery and enhance
            well-being.
          </p>
          <ul class="team-card-socials-list">
            <li class="team-card-socials-item">
              <a
                class="team-card-socials-link"
                target="_blank"
                href="https://ua.linkedin.com/school/goit-start-your-career-in-it/?trk=public_post_feed-actor-name"
              >
                <svg class="team-card-socials-icon" width="19" height="19">
                  <use href="./img/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <picture class="team-card-picture">
          <source
            media="(min-width: 1336px)"
            srcset="
              ./img/team/team-ava-green-lg.webp    1x,
              ./img/team/team-ava-green-lg@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/team/team-ava-green-md.webp    1x,
              ./img/team/team-ava-green-md@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/team/team-ava-green-sm.webp    1x,
              ./img/team/team-ava-green-sm@2x.webp 2x
            "
          />
          <img
            class="team-card-img"
            src="./img/team/team-ava-green-sm.webp"
            alt="Ava Green"
            width="343"
            height="221"
          />
        </picture>
        <div class="team-card-text-wrap">
          <h3 class="team-card-title">Ava Green</h3>
          <p class="team-card-subtitle">Fitness Trainer</p>
          <p class="team-card-desc">
            Ava integrates strength training with yoga to promote overall
            fitness.
          </p>
          <ul class="team-card-socials-list">
            <li class="team-card-socials-item">
              <a
                class="team-card-socials-link"
                target="_blank"
                href="https://www.facebook.com/GoITclub.ua"
              >
                <svg class="team-card-socials-icon" width="21" height="21">
                  <use href="./img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-card-socials-item">
              <a
                class="team-card-socials-link"
                target="_blank"
                href="https://www.instagram.com/goit.ua/"
              >
                <svg class="team-card-socials-icon" width="19" height="19">
                  <use href="./img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="team-card-socials-item">
              <a
                class="team-card-socials-link"
                target="_blank"
                href="https://ua.linkedin.com/school/goit-start-your-career-in-it/?trk=public_post_feed-actor-name"
              >
                <svg class="team-card-socials-icon" width="19" height="19">
                  <use href="./img/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-card">
        <picture class="team-card-picture">
          <source
            media="(min-width: 1336px)"
            srcset="
              ./img/team/team-clark-thomas-lg.webp    1x,
              ./img/team/team-clark-thomas-lg@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/team/team-clark-thomas-md.webp    1x,
              ./img/team/team-clark-thomas-md@2x.webp 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/team/team-clark-thomas-sm.webp    1x,
              ./img/team/team-clark-thomas-sm@2x.webp 2x
            "
          />
          <img
            class="team-card-img"
            src="./img/team/team-clark-thomas-sm.webp"
            alt="Clark Thomas"
            width="343"
            height="221"
          />
        </picture>
        <div class="team-card-text-wrap">
          <h3 class="team-card-title">Clark Thomas</h3>
          <p class="team-card-subtitle">Fitness Trainer</p>
          <p class="team-card-desc">
            Clark specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <ul class="team-card-socials-list">
            <li class="team-card-socials-item">
              <a
                class="team-card-socials-link"
                target="_blank"
                href="https://www.facebook.com/GoITclub.ua"
              >
                <svg class="team-card-socials-icon" width="21" height="21">
                  <use href="./img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-card-socials-item">
              <a
                class="team-card-socials-link"
                target="_blank"
                href="https://www.instagram.com/goit.ua/"
              >
                <svg class="team-card-socials-icon" width="19" height="19">
                  <use href="./img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
