<section class="yoga-classes-section">
  <div class="container yoga-classes">
    <p class="explore-text">Explore</p>
    <h2 class="yoga-classes-title">Discover Our Most Popular Yoga Programs</h2>
    <p class="paragraph-join">
      Join our community and elevate your practice with our expertly designed
      yoga programs. Each course is tailored to meet various skill levels and
      personal goals.
    </p>

    <ul class="yoga-classes-ul">
      <li class="yoga-classes-list">
        <!-- <img src="./images/images-8.jpg" alt="Screen Illustrations" width="360"> -->
        <h3 class="yoga-classes-h3">Beginner Yoga: Foundations</h3>
        <p class="paragraph-learn">
          Learn the basics of yoga in a supportive environment.
        </p>
      </li>
      <li class="yoga-classes-list">
        <!-- <img src="./images/images-8.jpg" alt="Screen Illustrations" width="360"> -->
        <h3 class="yoga-classes-h3">
          Vinyasa Flow: Energize Your Body and Mind
        </h3>
        <p class="paragraph-learn">
          Experience a dynamic sequence that connects breath and movement.
        </p>
      </li>
      <li class="yoga-classes-list">
        <!-- <img src="./images/images-8.jpg" alt="Screen Illustrations" width="360"> -->
        <h3 class="yoga-classes-h3">
          Restorative Yoga: Deep Relaxation and Healing
        </h3>
        <p class="paragraph-learn">
          Unwind and rejuvenate with gentle poses and mindfulness.
        </p>
      </li>
    </ul>
    <a class="yoga-classes-link" href="#pricing">Join now</a>
  </div>
</section>
