/* Скрыть модалки по умолчанию */
.overlaymodal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  inset: 0;
}
.overlaymodal.active {
  display: flex !important;
}

/* Крестик и фон */
.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
}

/* Окно */
.modal-price-window {
  position: relative;
  background: #dfebeb;
  border-radius: 16px;
  padding: 64px 32px;
  max-width: 768px;
  width: 90%;
  z-index: 10;
}

/* Тексты и формы */
.modal-price-title,
.modal-price-subtitle,
.modal-price-price {
  text-align: center;
  font-family: 'Cabin', sans-serif;
  margin-bottom: 10px;
}

.modal-price-title {
  font-size: 36px;
}

.modal-price-subtitle {
  font-size: 22px;
}

.modal-price-price {
  font-size: 36px;
  margin-bottom: 30px;
}

.modal-price-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-price-row {
  display: flex;
  gap: 20px;
}

.input-price-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input-price {
  padding: 12px 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.submit-price-button {
  background: #c2d9fc;
  border-radius: 100px;
  padding: 10px 24px;
  width: 100%;
  height: 46px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: "Sarabun", sans-serif;
}
.submit-price-button:hover,
.submit-price-button:focus {
  background: rgba(13, 11, 10, 0.05);
}

/* Адаптация */
@media (max-width: 767px) {
  .modal-price-window {
    padding: 32px 16px;
    width: 100%;
    height: auto;
  }

  .input-price-row {
    flex-direction: column;
  }
 
}
@media (min-width: 768px) {
  .submit-price-button {
    width: 155px;
    height: 46px;
    margin: 0 auto;
    display: block;
    
  }

  .input-price-row {
    flex-direction: column;
  }

}

@media (min-width: 768px) and (max-width: 1335px) {
  .modal-price-window {
    max-width: 600px;
  }
}

@media (min-width: 1336px) {
  .modal-price-window {
    max-width: 768px;
  }
}
@media (min-width: 1336px) {
    .submit-price-button {
      width: 155px;
      height: 46px;
      margin: 0 auto;
      display: block;
    }
}
.backdrop {
  position: absolute;
  inset: 0;
  cursor: pointer;
}

.close-price-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
