.yoga-classes-section {
  background-color: #dfebeb;
}

.yoga-classes {
  display: flex;
  flex-direction: column;
}

.explore-text {
  font-family: 'Sarabun', sans-serif;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 64px;

  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #0d0b0a;
}

.yoga-classes-title {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
  padding-bottom: 20px;
  font-family: 'Cabin', sans-serif;
}

.paragraph-join {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
  padding-bottom: 48px;
  font-family: 'Sarabun', sans-serif;
}

.yoga-classes-ul {
}

.yoga-classes-list {
}

.yoga-classes-picture {
}

.yoga-classes-img {
  padding-bottom: 24px;
  max-width: 100%;
  height: auto;
}

.yoga-classes-h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
  padding-bottom: 20px;
  font-family: 'Cabin', sans-serif;
}

.paragraph-learn {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #0d0b0a;
  padding-bottom: 48px;
}

.yoga-classes-link {
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  padding: 10px 24px;
  max-width: 343px;
  height: 46px;
  background: #c2d9fc;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 1.6;
  color: #0d0b0a;
  margin-bottom: 64px;
  font-family: 'Sarabun', sans-serif;
}

.yoga-span {
  display: none;
}

@media screen and (min-width: 768px) {
  .explore-text {
    padding: 40px 0 16px;
  }

  .yoga-classes-title {
    padding-bottom: 24px;
  }

  .paragraph-join {
    padding-bottom: 40px;
    font-size: 18px;
  }

  .yoga-classes-img {
    padding-bottom: 16px;
  }

  .yoga-classes-ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 27px;
  }

  .yoga-classes-h3 {
    padding-bottom: 0;
    max-width: 340px;
  }

  .paragraph-learn {
    max-width: 340px;
    padding-bottom: 0;
  }

  .yoga-classes-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  .tab {
    max-width: 704px;
  }

  .pad {
    padding-bottom: 21px;
  }

  .yoga-classes-link {
    display: flex;
    margin: 0 auto;
    max-width: 110px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .yoga-span {
    display: flex;
    margin-left: 3px;
  }

  .yoga-classes-section {
    background-color: #f2fafa;
  }

  .span-desk {
    display: none;
  }
}

@media only screen and (min-width: 1336px) {
  .explore-text {
    padding: 112px 0 16px;
  }

  .yoga-classes-title {
    margin: 0 auto;
    max-width: 768px;
    font-size: 52px;
  }

  .paragraph-join {
    margin: 0 auto;
    max-width: 768px;
  }

  .yoga-classes-ul {
    padding-bottom: 40px;
  }

  .yoga-classes-h3 {
    max-width: 422px;
    font-size: 36px;
    padding-bottom: 24px;
  }

  .paragraph-learn {
    max-width: 422px;
  }

  .yoga-classes-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: calc((100% - 48px) / 3);
  }

  .yoga-classes-list:hover .yoga-classes-img {
    transform: scale(1.02);
  }

  .yoga-classes-link {
    margin:0 auto;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .yoga-classes-link:hover,
  .yoga-classes-link:focus {
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(13, 11, 10, 0.05);
  }

  .yoga-classes-img {
    padding-bottom: 32px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .yoga-classes {
    padding-bottom: 112px;
  }

  .span-desk {
    display: none;
  }
}
